body {
    background-color: #000000;
    display:flex;
    justify-content: center;
    text-align: center;
    
}

#game1{
    border-radius: 10px;
    background-color: #556B2F;
    font-size: 400%;
    margin-top: 8vh;
    color: #FFFFE0;
}

#window{ 
    width: 80%;
    border-radius: 10px;
    background-color: #C0C0C0;
    margin-top: 9vh;
        
}
#Name1{
    width: 90%;
    height: 3vh;
    margin-top: 1vh;
    font-size:3vh;
    background-color: #556B2F;
    color: #FFFFE0;
    text-align: center;
    border-radius: 10px;
}
h2{
    margin: 0px;
    margin-top: 1vh;
    font-size: 4vh;
    color: #FFFFE0;
}
#man{
    width: 20%;
    height: 5vh;
    margin-right: 12.5%;
}
#girl{
    width: 20%;
    height: 5vh;
    margin-left: 12.5%;
}
.selection{
    margin-top: 5vh;
    width: 100%;
}
#IkonMan{
    width: 35%;
    margin-right: 5%; 
    
}
#IkonGirl{
    width: 35%;
    margin-left: 5%;
    
}
